* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    background-color: #D8D8D8;
    height: 125px;
    width: 100%;
    padding: 12px 0 0 30px;
}

.menu-area {
    background-color: #4A90E2;
    height: 101px;
    width: 101px;
   
}
.unicorn-vomit {
    background-color: #F8E71C;
}


.text {
    padding: 100px 80px 100px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: rgb(70, 70, 70)
}

.blue, .pale-green, .moss-green, .yellow {
    height: 15vh;
    width: 100%;
}

.blue {
    background-color: #4A90E2;
}

.pale-green {
    background-color: #50E3C2;
}

.moss-green {
    background-color: #B8E986;
}

.yellow {
    background-color: #F8E71C;
}